@import "tailwindcss";

@theme {
  --color-phantom-50: #f0f9ff;
  --color-phantom-100: #e0f2fe;
  --color-phantom-500: #0ea5e9;
  --color-phantom-600: #0284c7;
  --color-phantom-700: #0369a1;
  --color-phantom-900: #0c4a6e;
}